# NASDAQ stock price predictor

The goal of this project is to explore the feasibility to predict nasdaq stock price movements

## Imports

In [1]:
import os

%matplotlib inline
import string
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import os
import re
import sys
from hashlib import sha1

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.compose import make_column_transformer
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.metrics import (
    accuracy_score,
    classification_report,
    confusion_matrix,
    f1_score,
    make_scorer,
    precision_score,
    recall_score,
)
from sklearn.model_selection import (
    GridSearchCV,
    RandomizedSearchCV,
    cross_val_score,
    cross_validate,
    train_test_split,
)
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.impute import SimpleImputer

from sklearn.tree import DecisionTreeClassifier

# Dataset

Our analysis will be done on the QQQ's. Lets do a really really simple baseline modeL

In [2]:
nasdaq_df = pd.read_csv('data/historical/etfs/QQQ.csv')
next_row_values = nasdaq_df.shift(-1)["Close"] 
nasdaq_df["Next day closing"] = next_row_values
nasdaq_df

,Date,Open,High,Low,Close,Adj Close,Volume,Next day closing
0,1999-03-10,51.125000,51.156250,50.281250,51.062500,44.600906,5232000,51.312500
1,1999-03-11,51.437500,51.734375,50.312500,51.312500,44.819260,9688600,50.062500
2,1999-03-12,51.125000,51.156250,49.656250,50.062500,43.727436,8743600,51.500000
3,1999-03-15,50.437500,51.562500,49.906250,51.500000,44.983032,6369000,51.937500
4,1999-03-16,51.718750,52.156250,51.156250,51.937500,45.365170,4905800,51.562500
...,...,...,...,...,...,...,...,...
5296,2020-03-26,183.869995,192.720001,183.610001,191.899994,191.899994,79887600,185.300003
5297,2020-03-27,186.929993,190.509995,184.660004,185.300003,185.300003,58845000,192.039993
5298,2020-03-30,187.100006,192.490005,186.339996,192.039993,192.039993,49356900,190.399994
5299,2020-03-31,191.720001,195.250000,189.199997,190.399994,190.399994,62659300,182.309998
5300,2020-04-01,184.770004,187.660004,180.860001,182.309998,182.309998,53557000,NaN

Lets add a proper target column. Lets target the price for the next day

For the first part, lets do a baseline model. We will be using a dummy regressor from sklearn